@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  background-image: 
  linear-gradient( #D088EC, #F0DC00), linear-gradient( #F0DC00, #1500b6, #1500b6, #1500b6, #0A0057, #0A0057);
  background-position: top, bottom;
  background-repeat: no-repeat, repeat;
  color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #380000;
}

:root {
  --font-size: calc(10px + 1vmin);
  --primary: #0A0057;
  --scondary: #D088EC;
  --tertiary: #F0DC00;
}
